# DATABASE_URL="mysql://root:@localhost:3306/sia_student_api?schema=public"
# DATABASE_URL="postgres://uszmpkilmpbgbx:6fe5ed9a7a1ece39535d97ba5f8c496da8897ef76148bc397a2ecd72b4ab9c02@ec2-52-204-196-4.compute-1.amazonaws.com:5432/dfdcuu1d2ku23g"
DATABASE_URL='mysql://nisvb59735wi:pscale_pw_CAJpF_f2rUQneIeI2na9TzjpRN_SaE_wiV00_Gy8sWU@wy00g7jgweov.us-east-3.psdb.cloud/sia-student-api?ssl={"rejectUnauthorized":true}'